.Quiz {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  flex-grow: 1;
  width: 100%;
  background: linear-gradient(90deg, rgba(29, 65, 255, 0.82) 0%, rgb(13, 9, 247) 100%);

}

.QuizWrapper {
  width: 600px;
  h1 {
    color: #ddefff;
    margin-right: 10px;
  }
}
